:root {
    --primary: #56a8db;
    --secondary: #315469;
    --primary-light: #9bc6e0;
    --secondary-dark: #1e2529;
    --dark: #323232;
    --light: #fefefe;
    --navHeight: 4vh;
    --navMinHeight: 58px;
    --footerHeight: 120px;
}

div, span, a, input, textarea, button, footer {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    margin: 0;
    font-family: Avenir, Helvetica, Arial, sans-serif;
    font-size: clamp(.9rem, .75vw, 1.5rem);
}

h1, h2, h3 {
    color: var(--secondary)
}

#app {
    width: 100%;
}

#shell {
    padding-top: clamp(58px, 4vh, 4vh);
    min-height: calc(100vh - var(--footerHeight));
}

#shell:last-child {
    margin-bottom: 2em;
}

.page {
    overflow: hidden;
}

.fas {
    margin-right: .3em;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    height: var(--footerHeight);
    background-color: var(--secondary-dark);
    color: var(--light)
}

.wrapper {
    display: inherit;
    margin: 0 auto;
    width: 100%;
    max-width: 80%;
    padding: 0 1em;
    height: inherit;
    min-height: inherit;
    justify-content: inherit;
    align-items: inherit;
}

a {
    cursor: pointer;
    color: var(--primary);
    text-decoration: none;
}

.cursor {
    cursor: pointer;
}

button {
    cursor: pointer;
    font-size: .9rem;
    border-radius: .7em 0 .7em 0;
    padding: .66em 1em;
    border: var(--secondary) solid 1px;
    background-color: var(--primary);
}

button:hover {
    background-color: var(--primary-light);
}

@media screen and (max-width: 1250px) {
    .wrapper {
        max-width: 99%;
    }
}

@media screen and (max-width: 850px) {
    :root {
        --navHeight: 65px;
    }
}